/*--GENERAL TAGS*/
body {
  background-image: url("../images/confectionary.png");
}

/*--Link Tags--*/
a {
  color: white;
  text-decoration: none;
  transition:.7s;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #db3969;
  letter-spacing: 0.3vw;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.btn {
  background-color: rgba(216,64,47,1);
}

.btn:visited {
  background-color: red;  
}

.btn:hover {
  color: #1e1d23;
  background-color: #db1515;
}

.btn:active {
  background-color: red;
}

/*--End Link Tags--*/

/*--Header Creation--*/
.sectionHeader {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  z-index: 1;
  font-family: 'Montserrat', serif;
  letter-spacing: .5vw;
  text-align: center;
  font-size: 4vw;
  color: white;
}

.sectionHeader2 {
  font-family: 'Montserrat', serif;
  letter-spacing: .5vw;
  text-align: center;
  font-size: 4vw;
  padding-left: 27px; padding-right: 20px;
}

/* Rows between sections */
.container-fluid {
  //border: solid;
}
.container {
  //border:solid;
}

/*****************
ALL ROWS & TABLES
*****************/
.row {
  //border: solid;
}



/******************
  NAVIGATION BAR
*******************/
.navBarContent{
  padding: .5%;
  padding-left: 20px;
  color: white;
//  border: solid;
}

.navLinks {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.25vw;
  font-size: 1.25vw;
}

#navBarFrame {
  background: linear-gradient(to bottom, rgba(30,29,35,1), rgba(60,109,152,0.2));
  overflow: hidden;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
}

#navIconBox {
  letter-spacing: 0.1vw;
  font-size: 2.5vw;
  font-family: 'PT Sans', sans-serif;
}

#navLink1 {
  position: relative;
  right: 2%;
}

#navLink2 {
  position: relative;
}

#navButtonFrame {
  text-align:center;
}

#navButton {
  border: none;
  box-shadow: 0 8px 15px 0 rgba(0,0,0,1), 0 6px 20px 0 rgba(0,0,0,1);
  letter-spacing: .25vw
}

/****************
  LANDING PAGE
****************/

#landingPageFrame {
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.fullscreen-bg-video {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  height: 100vh;
}

.landingPageContent {
  /* Frame stuff */
  display: inline-block;
  position: absolute;
  background:rgba(0,0,0,0.8);
  width: 75%;
  
  /* Text stuff */
  font-family: 'PT Sans', sans-serif;
  color: white;
  border: solid 2px;
  text-align: left;
  line-height: 120%
}

.landingPageContent ul {
  font-size: 1.4em;
}

.landingPageContent li {
  padding-top: 20px;
}

#whoAmIButton {
  border: none;
  box-shadow: 0 8px 15px 0 rgba(0,0,0,1), 0 6px 20px 0 rgba(0,0,0,1);
  padding: 1% 3%;
}
/****************
END LANDING PAGE
****************/


/****************
BIOGRAPHY START
****************/
#biographyContainer {
  background-color: rgba(8, 61, 119,0.75);
}

.subtitle {
  font-size: 2.5vw;
}

.biographyFrame {
}

.lifeContainer {
  padding-bottom: 3%;
  padding-top: 3%;
  display: flex;
  border: solid;
}

.placeHolderImage {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.lifeEventDesc {
  border: solid 1px rgb(255,219,104);
  color: rgb(6,4,5);
  background-color: rgba(255,255,250,0.8);
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 2vw;
}

.lifeContainer:nth-child(odd) {
  background-color: rgba(30,29,35,0.6);
}

/************
END BIOGRAPHY
************/
/**************
START PORTFOLIO
**************/

  #portfolioBackground {
    /**Background Stuff**/
    background-image: url("../images/Clouds.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
    display: flex;
    justify-content: center;

    width: 100%;
    min-height: 100vh;
}

#portfolioTitleText {
  background: rgba(255,255,255,0.4);
  text-align: center;
  border: solid;
}

h1 {
  margin-top: 2px;
}

.portfolioContainer {
  max-width: 1200px;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  
}

.titleItem {
  flex: 1 100%;
  padding: 10px;
}

.portfolioLink:hover {
  letter-spacing: 0;
}

.portfolioItem {
  flex: 1 33%;
  padding: 5px;
  position: relative;
}

.portfolioPic {
  background-color: gray;
}

.portfolioItem:hover .portfolioPicOverlay {
  height: 100%;
}

.portfolioPicOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(69,115,133,0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.portfolioText {
  text-align: center;
  color: white;
  font-size: 2em;
  font-family: 'PT Sans', sans-serif;
  width: 90%;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#item3 .portfolioPicOverlay .portfolioText{
  font-size: 2em;
}

#item4 .portfolioPicOverlay .portfolioText{
  font-size: 2.2em;
}

#item2 .portfolioPicOverlay {
  background: rgba(85,44,0,0.8);  
}

#item3 .portfolioPicOverlay {
  background: rgba(24,34,87,0.8);  
}

#item4 .portfolioPicOverlay {
  background: rgba(255,214,170,0.5);  
}

#item5 .portfolioPicOverlay {
  background: rgba(128,43,21,0.8);  
}

#item6 .portfolioPicOverlay {
  background: rgba(15,91,48,0.5);  
}


/*************
END PORTFOLIO
*************/
/**************
 BEGIN CONTACT
**************/
#contactBackground {
    background-image: url(../images/mountainlandscape.jpg);
    background-size: contain;
}

.contactContainer {
  padding: 25px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-height: 300px;
    background-color: rgba(255,255,255,0.3)
}

.contactDesc {
  flex: 1;
  font-size: 2.5vmin;
  padding: 5px;
}

#contactHeaderText {
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 2px;
  color: black;
  font-size: 3vmin;
}

.socialMediaLinks {
  height: 200px;
  padding-top: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 3vmin;
  color: black;
}

.socialIcon, .socialIcon:hover {
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  
}

.emailForm {
  min-width: 200px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.disabledOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background: red;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabledText {
  text-align: center;
  color: white;
  font-size: 30px;
  position: absolute;
}

.emailForm:hover .disabledOverlay{
  opacity: .6;
}

.fullName {
  display: flex;
}

.fNameContainer {
  width: 50%;
}

#fname {
  width: 90%;
}

.lNameContainer {
  width: 50%;
}

#lname {
  width: 90%;
}

.emailContainer {
  padding-top: 10px;
}

#email {
  width: 95%;
}

.phoneContainer {
  padding-top: 10px;
}

#phone {
  width: 95%;
}

.messageContainer{
  padding-top: 10px;
}

#message {
  width: 95%;
  height: 75px;
}

.pictureForm {
  flex: 1;
  background: url("../images/capitol.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pictureOverlayText{
  font-family: 'pacifico', cursive;
  text-align: center;
  font-size: 7vw;
  color: white;
  text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*************
  END CONTACT
*************/


/**************
  BEGIN FOOTER
**************/

#footerBackground {
  padding: 0px;
  position: relative;
}

#footerImage {
  width: 100%;
}

.copyright {
  color: black;
  position: absolute;
  bottom: 0;
  left: 4px;
}

/***********
  END FOOTER
***********/
/**************
MOBILE SUPPORT
*************/
@media screen and (max-width: 1100px){

  .portfolioText {
    font-size: 2.5vw !important;
  }
  

}

@media screen and (max-width: 710px) {

  .lifeEventNode {
    width: 0%;
  }
  
  .lifeEventDesc {
    width: 100%;
    font-size: 2.5vw;
  }
  
  .portfolioItem {
    flex: 1 50%;
    padding: 10px;
  }
  
  .portfolioPicOverlay {
    height: 100%;
  }
  
  .portfolioText {
    font-size: 3vw !important;
  }
  
  .disabledOverlay {
    opacity: .6;
  }
  
  .contactDesc {
    order: 1;
    flex: 1 50%;
  }
  .pictureForm {
    order: 2;
    flex: 1 50%;
  }
  .emailForm {
    border-top: solid 1px;
    order: 3;
  }
}

